@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body{
    font-family: 'Mulish', sans-serif;
     max-width: 100%;
    overflow-x: hidden;
}
.navbar{
    padding: 1.2%;
    border-bottom: 2px solid whitesmoke;
}
.navbar-toggler {
    color: #06191d;
}
.navbar-nav{
    margin-left:auto;
    margin-right: auto;
    font-size:large;

}
.navbar .navbar-brand{
    color:#06191d !important;
    font-size: x-large;
    font-weight: bolder;
}
.navbar .nav-item{

    font-size: large;
}
.navbar .nav-item .nav-link{
    color: #06191d !important;
    font-size: large;
}
.navbar-text{
    color: white;
    padding: 1%;
    background:  rgba(163, 115, 68, 1);
}
.navbar .nav-item .nav-link:hover{
   font-weight: bold;
    text-decoration: line-through;


}

@media only screen and (min-width: 150px) and (max-width: 768px){
    .navbar{
        padding: 5%;

    }
}